.container {
  width: 100vw;
  height: 60vw;
  background-image: url("./assets/cyberthirdimg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: var(--font-century-gothic);
}
.container .content {
  width: 50%;
  position: relative;
  left: 60px;
}
.cyber {
  color: #d4af37;
  text-align: justify;
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.service {
  color: #fff;
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content1 {
  position: relative;
  left: 160px;
}
.content11 {
  padding: 30px;
  width: 40%;
  border-radius: 22px;
  background: #fff;
}
.content11 ul{
  position: relative;
  left: 35px;
}
.content12{
  position: absolute;
  top: 0;
  left: 40%;
}
.content12 h3, .content12 ul{
  color: #fff;
}
.content12 ul{
  position: relative;
  left: 35px;
}

