@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

:root {
  --up: 2;
  --card-margin: 12px;
  --card-shadow: rgba(46, 49, 52, 0.4);
  --color-white: #fff;
  --color-lightgrey: #ccc;
  --color-ui: #999;
  --color-ui-hover: #666;
  --cardWidth: calc(86vw / var(--up));
  --carouselWidth: calc(var(--cardWidth) * var(--num));
  --carouselLeftMargin: calc(29vw - var(--cardWidth));
}

@media screen and (max-width: 900px) {
  :root {
    --up: 1;
  }
}

.carouselwrapper1 {
  display: flex;
  overflow: hidden;
  background: var(--color-lightgrey);
  position: relative;
}

.carousel1 {
  width: var(--carouselWidth);
  margin: 0 0 0 var(--carouselLeftMargin);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.carousel1.prev {
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  animation-name: prev;
}

.carousel1.next {
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  animation-name: next;
}

.carousel1 li {
  padding: 50px;
  text-align: center;
  width: calc(var(--cardWidth) - var(--card-margin) * 2);
  box-sizing: border-box;
}

.ui1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--card-margin);
  z-index: 100;
}

.ui1 button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-ui);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--color-white);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
  border: 0;
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  margin-bottom: 10px; 
}

.ui1 button:hover {
  background: var(--color-ui-hover);
}

.ui1 button:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 1);
}

.card1 {
  box-shadow: 0px 1px 2px 0px var(--card-shadow);
  border-radius: 4px;
  margin: var(--card-margin);
  background: var(--color-white);
  overflow: hidden;
}

.card1 .material-icons {
  font-size: 4.8rem;
}
.card1 img {
  max-width: 100%;
  height: auto;
  display: block;
}
.card1 p {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 0;
}
.disc1 {
  background-color: #b3b3b3;
  position: relative;
}
.disc1 img {
  position: absolute;
  width: 26px;
  top: -18px;
  left: -14px;
}
.disc1 span {
  position: absolute;
  top: -12px;
  left: -2px;
  color: #fff;
  text-align: center;
  z-index: 30;
}

@keyframes next {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(calc(0px + var(--cardWidth)));
  }
}

@keyframes prev {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(calc(0px - var(--cardWidth)));
  }
}
