.container {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/Rectangle 67.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mainContain {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.testimonialContain {
  height: 70%;
  width: 100vw;
  margin-left: 5%;
  background: rgba(255, 248, 231, 0.39);
  overflow: hidden;
}

.symbolTest {
  position: absolute;
  top: 20px;
  left: 40px;
}
.doublquoteMain {
  position: absolute;
  top: 70px;
  z-index: 10;
  color: #fff;
  text-align: center;
  font-family: Century Gothic;
  font-size: 180px;
  font-style: normal;
  font-weight: 700;
  line-height: 200px;
}
.title {
  position: absolute;
  top: 280px;
  left: -60px;
  transform: rotate(-90deg);
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Bungee;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 6px;
}

.carcarousel {
  position: absolute;
  overflow: hidden;
  left: 150px;
  height: 495px;
  top: 120px;
}
@media (min-width: 768px) {
  .testimonialContain {
    margin-left: 20%;
  }
  .symbolTest {
    top: 80px;
    left: 240px;
  }
  .doublquoteMain {
    top: 90px;
  }
  .title {
    top: 380px;
    left: 160px;
  }
  .carcarousel {
    left: 450px;
    height: 495px;
    top: 120px;
  }
}
