.container {
  width: 100vw;
  height: 100vh;
  background: #fff8e7;
}
.content {
  position: relative;
  padding: 20px;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-bottom: 5px;
}
.cont1 {
  border: 1px solid #ad000e;
  display: inline-flex;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cont1 h3 {
  color: #ad000e;
  text-align: center;
  font-family: Century Gothic;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.context {
  margin: 20px auto;
  width: 90%;
  height: 80%;
  display: flex;
  gap: 5px;
}
.contcont1 {
  flex: 1;
  background: url("./assets/Rectangle 73.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}
.contcont1 h4 {
  width: 70%;
  margin: 10px auto;
  color: #fff;
  font-weight: 700;
  line-height: normal;
  font-size: 25px;
  padding-bottom: 10px;
}
.contcont1 img {
  padding-left: 40px;
}
.contcont2 {
  flex: 1;
  background: url("./assets/Rectangle 73.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}
.contcont2 h4 {
  width: 70%;
  margin: 10px auto;
  color: #fff;
  font-weight: 700;
  line-height: normal;
  font-size: 25px;
  padding-bottom: 10px;
}
.contcont2 img {
  padding-left: 40px;
}
.contcont3 {
  flex: 1;
  background: url("./assets/Rectangle 73.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}
.contcont3 h4 {
  width: 70%;
  margin: 10px auto;
  color: #fff;
  font-weight: 700;
  line-height: normal;
  font-size: 25px;
  padding-bottom: 10px;
}
.contcont3 img {
  padding-left: 40px;
}

.points {
  width: 80%;
  margin: auto;
  padding: 10px;
  color: #fff;
  font-family: Century Gothic;
  font-size: 22px;
}
.points li{
    padding-bottom: 15px;
}
