.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  margin-top: 120px;
}

.column1,
.column2,
.column3 {
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: relative;
}

.column1 img,
.column3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.column2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(173, 0, 14, 0.5) 50%,
    rgba(173, 0, 14, 0.1) 100%
  );
  z-index: 1;
}
.contentcontent1 {
  position: relative;
  top: -40%;
  width: 80%;
  margin: auto;
}
.contentcontent2 {
  position: relative;
  top: -40%;
  width: 80%;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin-top: -10px;
  }
  .column1,
  .column2,
  .column3 {
    flex-direction: row;
  }
  .boxcontent1 {
    position: absolute;
    top: 8px;
    left: 50%;
    z-index: 30;
    width: 600px;
    height: 285px;
    border-radius: 8px 0px 8px 8px;
    background: #fff;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.75);
  }
  .boxcontent2 {
    position: absolute;
    bottom: 8px;
    right: 50%;
    z-index: 30;
    width: 600px;
    height: 285px;
    border-radius: 8px 0px 8px 8px;
    background: #fff;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.75);
  }
  .decor1,
  .decor2 {
    width: 100px;
    height: 160px;
  }

  .decor1 {
    transform: rotate(90.305deg);
    position: relative;
    top: -28px;
    left: 70%;
    border-radius: 0px 0px 100px 0px;
    background: rgba(173, 0, 14, 0.9);
  }
  .decor2 {
    transform: rotate(90.305deg);
    position: relative;
    top: 0;
    left: 75%;
    border-radius: 0px 0px 100px 0px;
    background: rgba(250, 214, 165, 0.9);
  }
  .about,
  .why {
    border: 1px solid #d4af37;
    display: inline-flex;
    padding: 12px 28px;
    justify-content: center;
    align-items: center;
    color: #ad000e;
    text-align: center;
    font-family: Century Gothic;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .aboutcontent,
  .whycontent {
    margin: 5px 0 5px;
    color: #000;
    text-align: justify;
    font-family: Century Gothic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
  }
  .know {
    cursor: pointer;
    color: #ad000e;
    font-family: Century Gothic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;
  }
}
