.container {
  display: flex;
  max-width: 100vw;
  justify-content: space-between;
}
.column1,
.column2,
.column3 {
  flex: 1;
  max-width: 33vw;
  height: 100vh;
  position: relative;
}

.column1,
.column3 {
  border-radius: 0px 0px 0px 16px;
  background: #ad000e;
}

.column1 img,
.column3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.column2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(173, 0, 14, 0.1) 50%,
    rgba(173, 0, 14, 0.1) 100%
  );
  z-index: 1;
}

.boxcontent1 {
  position: absolute;
  top: 10%;
  left: 80%;
  width: 600px;
  height: 285px;
  border-radius: 8px 0px 8px 8px;
  background: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.75);
}
.boxcontent2 {
  position: absolute;
  bottom: 10%;
  right: 80%;
  width: 600px;
  height: 285px;
  border-radius: 8px 0px 8px 8px;
  background: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.75);
}

.decor1,
.decor2 {
  width: 140px;
  height: 160px;
}

.decor1 {
  transform: rotate(90.305deg);
  position: relative;
  top: 0;
  left: 75%;
  border-radius: 0px 0px 100px 0px;
  background: rgba(173, 0, 14, 0.9);
}
.decor2 {
  transform: rotate(90.305deg);
  position: relative;
  top: 0;
  left: 75%;
  border-radius: 0px 0px 100px 0px;
  background: rgba(250, 214, 165, 0.9);
}

.contentcontent1 {
  position: relative;
  top: -40%;
  width: 80%;
  margin: auto;
}
.contentcontent2 {
  position: relative;
  top: -40%;
  width: 80%;
  margin: auto;
}
.about,
.why {
  border: 1px solid #d4af37;
  display: inline-flex;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  color: #ad000e;
  text-align: center;
  font-family: Century Gothic;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.aboutcontent,
.whycontent {
  margin: 5px 0 5px;
  color: #000;
  text-align: justify;
  font-family: Century Gothic;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}
.know {
  color: #ad000e;
  font-family: Century Gothic;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.3px;
}
