.container {
  margin-right: 80px;
  color: #ad000e;
  font-family: var(--font-century-gothic);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  display: flex;
}
.container img{
  padding-left: 60px;
}