.container {
  width: 80%;
  margin: 5px auto;
  background: transparent;
  display: flex;
  justify-content: space-between;
}
.mobileMenuIcon {
  display: flex;
  align-items: center;
}
.column-1 {
  display: flex;
  width: 35vw;
}
.row {
  display: flex;
  width: 139px;
  height: 92px;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 80px;
  height: auto;
  object-fit: cover;
}

.gold {
  position: relative;
  top: 10%;
  left: 3%;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.goldenRoyceDesign {
  color: #f0c545;
  font-family: var(--font-century-gothic);
  font-size: 11px;
  
}

.buisnessMadeSmart {
  color: var(--color-red);
  font-family: var(--font-century-gothic);
  font-size: 9px;
}

.column-2 {
  display: none;
}
.mobileMenu {
  position: absolute;
  background-color: #fff;
  top: 10%;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.mobileMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mobileMenu li {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.mobileMenu li:hover {
  background-color: #fafafa;
}

.mobileMenu a {
  text-decoration: none;
  color: #ad000e;
  font-size: 16px;
  font-weight: 500;
}

.mobileMenu a:hover {
  color: #f0c545;
}

@media (min-width: 1028px) {
  .mobileMenuIcon {
    display: none;
  }

  .column-2 {
    display: flex;
  }

  .row1 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .horizontal-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .horizontal-nav1 {
    display: flex;
    gap: 20px;
    list-style-type: none;
  }
  .horizontal-nav1 ul {
    display: flex;
  }

  .horizontal-nav1 li {
    margin-right: 10px;
  }

  .horizontal-nav1 li a {
    text-decoration: none;
    font-family: var(--font-poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .dropNav {
    position: relative;
  }

  .subNav {
    padding: 20px 25px 20px 10px;
    position: absolute;
    left: -480%;
    background-color: #fff;
    display: flex;
    gap: 10px;
    z-index: 10;
  }

  .colnav {
    display: flex;
    flex-direction: column;
  }

  .colnav h3 {
    font-weight: 400;
    font-family: var(--font-poppins);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
  }

  .colnav a {
    color: var(--color-red);
  }

  .colnav ul {
    display: flex;
    flex-direction: column;
    list-style: circle;
  }

  .colnav111 {
    color: #f0c545;
  }

  .colnav ul li {
    min-width: 310px;
    padding-bottom: 16px;
    display: flex;
  }

  .colnav ul li a {
    font-size: 16px;
    color: #bda96c;
  }

  .colnav ul li a:hover {
    color: var(--color-red);
  }
}
