.container {
  width: 100vw;
  height: 70vh;
  background: #ad000e;
}
.contain {
  position: relative;
  height: 100%;
  width: 100%;
}
.contain img {
  position: absolute;
  left: 90px;
  height: 80%;
}

.contain div {
  width: 50%;
  padding: 20px;
  position: absolute;
  top: 140px;
  left: 580px;
  z-index: 30;
  background: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  text-align: justify;
  font-family: Century Gothic;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}

.broucher-container {
  position: relative;
  top: -20px;
  left: 120px;
  width: 80%;
}

.bruchers {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bruchers button {
  padding: 5px;
  font-size: 22px;
  display: flex;
  gap: 10px;
  color: #d4af37;
  background: #ad000e;
}

.bruchers button:hover {
  color: #ad000e;
  background: #d4af37;
}

@media screen and (min-width: 801px) and (max-width: 1400px){
  .contain img {
    position: absolute;
    left: 180px;
    height: 80%;
  }
  .contain div{
    font-size: 18px;
    padding: 10px;
    line-height: 32px;
  }
}