.container {
    height: 100vh;
    width: 100vw;
    background-image: 
      radial-gradient(
        96.56% 96.56% at 50% 50%,
        rgba(255, 245, 216, 0.88) 0%,
        rgba(255, 248, 231, 0.68) 100%
      ),
      url("./assets/logo_figma 1.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain, 650px 450px; 

  }
.content {
  position: relative;
  top: 60px;
  left: 80px;
}
.content h2 {
  color: #d4af37;
  font-family: Poppins;
  font-size: 125px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-left: 12px solid #d4af37;
  padding-left: 20px;
}
.content1 {
  position: absolute;
  left: 100px;
}
.content1 p {
  color: #ad000e;
  font-family: Century Gothic;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 70%;
  margin-bottom: 30px;
}
.buttonsect {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.about {
  display: inline-flex;
  padding: 12px 29px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #ad000e;
  background: #fad6a5;
  border-color: #d4af37;
  text-align: center;
  font-family: Century Gothic;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.about:hover {
  background-color: #ad000e;
  color: #d4af37;
}
.why {
  display: inline-flex;
  padding: 12px 29px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #ad000e;
  background-color: transparent;
  color: #ad000e;
  text-align: center;
  font-family: Century Gothic;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.why:hover{
    border: none;
    background-color: #ad000e;
    color: #fad6a5;
}
