.container{
    width: 100vw;
    height: 120vh;
}

.flxCont{
    position: relative;
    top: 65px;
    left: 150px;
    width: 80%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  
.flex-container p{
  padding-top: 10px;
  text-align: justify;
}

  
  .item {
    border: 1px solid black;
    text-align: center;
    width: 300px;
    padding: 20px;
  }
  
  .circle {
    width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px dotted black;
  overflow: hidden;
  padding: 15px;
  margin: auto;
  position: relative;

  }
  
  .image {
    width: 100%;
    height: auto;
  }
  