.container {
  margin-right: 80px;
  color: #fff;
  font-family: Century Gothic;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  color: #000;
font-family: Century Gothic;
font-size: 31px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.container img {
  padding-left: 60px;
}
