.singleAccordian {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    cursor: pointer;
    color: #ccc;
  }
  
  .accordianTitle {
    font-weight: bold;
  }
  
  .accordianText {
    margin-top: 10px;
    display: none;
  }
  
  .open .accordianText {
    display: block;
  }