.singleAccordian {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
  max-height: 300px;
  cursor: pointer;
  color: #ccc;
}

.accordianTitle {
  font-weight: bold;
  color: #05f1da;
  height: 100%;
}

.open .accordianTitle {
  color: white;
}

.accordianText {
  margin-top: 10px;
  display: none;
}

.open .accordianText {
  display: flex;
  width: 100%;
  align-items: center;
}

.open .accordianText img {
  padding-left: 25px;
  max-width: 10%;
  flex: 1;
  object-fit: cover;
}

.accordianImage {
  width: 100%;
}

.singleAccordian {
  border: none;
  border-top: 1px solid #05f1da;
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
  cursor: pointer;
  color: #ccc;
  position: relative;
}

.accordianTitle {
  font-weight: bold;
  font-family: var(--font-century-gothic);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleSign {
  border: 2px solid #05f1da;
  font-family: var(--font-century-gothic);
  border-radius: 50%;
  color: #05f1da;
  font-size: 16px;
  background-color: transparent;
  font-weight: 800;
  padding: 2px 5px;
  font-weight: bold;
}

.open .toggleSign {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 60px;
  color: black;
  background-color: #05f1da;
}

.accordianText {
  margin-top: 10px;
  display: none;
}

.open .accordianText {
  display: flex;
  width: 100%;
}
.open .accordianText p {
  width: 60%;
}

@media screen and (min-width: 801px) and (max-width: 1400px) {
  .singleAccordian {
    width: 90%;
    padding: 15px;
  }

  .toggleSign {
    font-size: 14px;
    padding: 2px 5px;
  }

  .accordianTitle {
    font-size: 18px;
  }

  .open .accordianTitle {
    color: #05F1DA;
  }

  .open .accordianText img {
    max-width: 15%;
  }

  .open .accordianText p {
    width: 70%;
  }
}