.container {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/Rectangle 66.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.context {
  width: 80%;
  height: 80%;
  border-radius: 35px;
  background: rgba(173, 0, 14, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.vertical {
  display: inline-flex;
  position: relative;
  top: 180px;
  left: -120px;
  transform: rotate(-90deg);
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-size: 75px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.vertContent {
  position: relative;
  top: -50px;
  left: 200px;
  display: flex;
  gap: 30px;
}
.vertContent1,
.vertContent2,
.vertContent3 {
  width: 22%;
  height: 80%;
  background: rgba(173, 0, 14, 0.8);
}

.contimage {
  height: 60%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.contimage:hover {
  transform: scale(1.1); 
}

.capcontent {
  color: #fff;
  font-family: Century Gothic;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.knowcontainer{
  display: flex;
  justify-content: flex-end;
}

.know{
  display: flex;
  justify-content: center;
  width: 120px;
  padding: 2px;
  border: 1px solid #FFF8E7;
  color: #FFF8E7;
  font-family: Century Gothic;
  font-size: 14px;
  margin-top: 5px;
}

.know:hover{
  color: rgba(173, 0, 14, 0.8);
  background-color: #FFF8E7;
}
